.game-board {
  position: relative;
  display: flex;
  width: 100%;
  padding: 2% 0;
  height: 90%;
}

.control-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 10%;
  left: 40%;
  width: 20%;
  height: 80%;
}
.button-container {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
#limit {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.die {
  width: 80%;
  border: 1px red solid;
  border-radius: 8px;
  margin: 1rem 0;
}

.win-screen {
  font-family: monospace;
  display: flex;
  height: 80%;
  flex-direction: column;
  gap: 1.5rem;
}
.win-screen h2 {
  font-size: 4vmin;
}
.win-screen h4 {
  font-size: 3vmin;
}
.win-screen p {
  font-size: 3vmin;
}
