.btn-wrap {
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  font-size: 2vmin;
  line-height: 2rem;
  height: 5vmin;
  border: none;
  background-color: orangered;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.btn-img {
  height: 100%;
  width: 20%;
}
